<!DOCTYPE html>
<html lang="es" class="proveedor">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="static/normalize.css" as="style">
    <link href="static/normalize.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <title>Proyecto Final [PEDIDOS_IMPRESORAS]</title>
    <!-- Nuestro CSS -->
    <link rel="preload" href="static/styles.css" as="style">
    <link href="static/styles.css" rel="stylesheet">

    <!-- CSS BootStrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body class="proveedor">
    <header>
        <h1 class="titulo_proveedor">Proyecto Final <span>David Padilla Muñoz</span></h1>
    </header>
    
 <main class="container">

      <section class="superior">
        <section class="volver">
            <div class="retorno alinear_derecha">
                <a class="boton-retorno" href="/retorno-proveedor">Volver</a>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-back" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M9 11l-4 4l4 4m-4 -4h11a4 4 0 0 0 0 -8h-1" />
                </svg>
            </div>
        </section>
    </section> 

        <div>
            <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                <div class="card-header">Ender-6 Corexy</div>
                <div class="card-body">
                  <h4 class="card-title">Pedidos pendientes</h4>
                  <div class="boton_consulta">
                    <a href="/reponer_impresora1" class="btn-pedido">Consultar</a>
                  </div>

                  
                </div>
                </div>

            </div>

            <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                <div class="card-header">Creality CR-6 SE</div>
                <div class="card-body">
                  <h4 class="card-title">Pedidos pendientes</h4>
                  <div class="boton_consulta">
                    <a href="/reponer_impresora2" class="btn-pedido">Consultar</a>
                  </div>


                 
                </div>
                </div>

            </div>

            <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                <div class="card-header">Creality CR-30 Printmill Z-Infinito</div>
                <div class="card-body">
                  <h4 class="card-title">Pedidos pendientes</h4>
                  <div class="boton_consulta">
                    <a href="/reponer_impresora3" class="btn-pedido">Consultar</a>
                  </div>


                  
                </div>
                </div>

            </div>

            <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                <div class="card-header">Creality CR-5 PRO H (High Temp)</div>
                <div class="card-body">
                  <h4 class="card-title">Pedidos pendientes</h4>
                  <div class="boton_consulta">
                    <a href="/reponer_impresora4" class="btn-pedido">Consultar</a>
                  </div>


    
                </div>
                </div>
            </div>

        </div>
 </main>

</body>
</html>