<!DOCTYPE html>
<html lang="es" class="proveedor">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="static/normalize.css" as="style">
    <link href="static/normalize.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <title>Proyecto Final [PROVEEDOR-SUMINISTRAR STOCK]</title>
    <!-- Nuestro CSS -->
    <link rel="preload" href="static/styles.css" as="style">
    <link href="static/styles.css" rel="stylesheet">
</head>
<body class="proveedor">
    <header>
        <h1 class="titulo"> Proyecto Final <span>David Padilla Muñoz</span></h1>
    </header>

    <main>
        <section class="superior">

            <section class="volver">
                <div class="volver_suministros">
                    <a class="boton-retorno" href="/retorno-proveedor">Volver</a>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-back" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M9 11l-4 4l4 4m-4 -4h11a4 4 0 0 0 0 -8h-1" />
                    </svg>
                </div>
            </section>